.container {
    max-width: var(--width-xl); 
    margin: 0 auto;
    padding: var( --containger-px-xl);
}
  
// 반응형 
@media (max-width: 767px) {
    .container {
        padding: var( --containger-px-sm);
    }
}
  
@media (min-width: 768px) {
    .container {
        padding: var( --containger-px-md);
    }
}

@media (min-width: 1024px) {
    .container {
        padding: var( --containger-px-lg);
    }
}

@media (min-width: 1280px) {
    .container {
        padding: var( --containger-px-xl);
    }
}